<div>
	<div class="container-fluid bg-darkgray no-margin">
		<div class="row-fluid">
			<div class="col-md-5" dropdown is-open="status.isopen1">
				<span>Selected Entity: </span>
				<button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled"
					ng-click="openNetworkHierarchy()">
					{{network.selectedHierarchyNode.name || 'Selected Entity'}}&nbsp;<span class="caret"></span>
				</button>
			</div>
			<div class="col-md-4" dropdown is-open="status.isopen2">
				<span>Reporting Period:</span>
				<button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
					{{reportingPeriod.selectedItem.displayValue || 'Reporting Period'}}&nbsp;<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" style="right: auto; left: 120px;">
					<li ng-repeat="item in reportingPeriod.data"><a ng-click="selectReportingPeriod(item.useValue)">{{item.displayValue}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-gray no-padding">
		<div class="row-fluid">
			<div class="col-md-8" style="padding-top: 5px">
				<span style="color: MidnightBlue; font-size: medium;">Program:
					{{program.selectedProgram.programName}}
				</span>
			</div>
			<div class="col-md-4" dropdown is-open="status.isopen3">
				<button type="button" class="btn btn-default dropdown-toggle pull-right" ng-disabled="disabled">
					{{selectedView || 'View'}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" style="right: 15px; left: auto;">
					<li ng-repeat="item in viewList"><a ng-click="selectView(item)">{{item}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-white no-padding">
		<div class="row-fluid">
			<div id="topPanel" ng-bind-html="renderHtml(summaryPaneContent)" class="container-fluid no-padding bg-white">
				<!-- <p style="padding-left:5px; color:white;">Summary Pane</p> -->
			</div>
			<div class="container-fluid bg-darkgray"></div>
			<div resizebottomdiv="51" id="bottomPanel" ng-bind-html="renderHtml(contentPaneContent)" class="container-fluid fixed-110 bg-white">
			</div>
			<div ng-show="showLegend" class="container-fluid" style="background-color: #CFD8E6; margin-left: 10px; margin-right: 5px; margin-bottom: 5px; padding-left: 5px;">
				<div class="pull-right">
					<span style="font-weight: bold;">Legend:&nbsp;&nbsp;</span> 
					<img style="vertical-align: middle" src="./images/red_square.png"><span style="vertical-align: middle;">&nbsp; failing to meet threshold&nbsp;&nbsp;</span>
					<img style="vertical-align: middle" src="./images/yellow_triangle.png"><span style="vertical-align: middle;">&nbsp;at risk to fail threshold&nbsp;&nbsp;</span>
					<img style="vertical-align: middle" src="./images/green_circle.png"><span style="vertical-align: middle;">&nbsp; meeting or exceeding threshold</span>
				</div>
			</div>
			<div ng-hide="showLegend" style="height:25px">
			</div>
		</div>
	</div>
</div>